*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: pink ;
}
.form{
    position: absolute;
    top: 100px;
}
input{
    padding: 10px;
    border: none;
    background-color: pink;
    border-bottom: 4px solid #00a884;
    margin-top: 20px;
    width: 100%;
    background: pink;
    outline: none;
    font-size: 19px;
}
input::placeholder{
    color:grey;
}
label{
    font-size: px;
      
}
button{
    width: 150px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    border-bottom: 3px solid #00a884;
    background-color: transparent;
    position: relative;
    top: 80px;
    
}
button:hover{

    color: green;
}
#alldata{
    width: 50vw;
    height: 30vh;
    border: 20px groove green;
    background: gray;
    position: relative;
    top: 150px;
    left: -200px;
    
}
.data{
    width: 350px;
    margin-left: 20px;
    margin-top: 20px;
    height: 10vh;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 18px;
    background: crimson
}